@charset "utf-8";
/* 초기화 */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Alata', sans-serif;
}

.gnb {
    overflow: hidden;
    margin: 0 auto;
    padding-top: 10px;
    position: relative;
    background-color: white;
}

.gnb .logo  {
    float: left;
}

/* 하이퍼링크 데코레이션 밑줄 안보이게 */
.gnb .logo a {
    text-decoration: none;
}

.gnb .logo a h2 {
    color: rgb(9, 78, 0);
    font-size: 25px;
    font-weight: bold;
}

.gnb ul {
    overflow: hidden;
    float: right;
    /* padding-top: 10px;
    padding-left: 10px; */
    width: calc(100% - 217px);
}

.gnb ul > li {
    float: right;
    padding: 8px 15px;
    overflow: hidden;
    font-size: 14px;
}

.gnb ul > li a {
    color: rgb(0, 0, 0);
/* 하이퍼링크 데코레이션 밑줄 안보이게 */
    text-decoration: none;
}

#container h2 {
    text-align:center;
    padding-top:40px;
    font-size:50px;
    color: rgb(255, 255, 255);
  }