@charset "utf-8";

/* 풀스크린 배경 */
.bg {
    min-width: 1024px;
    min-height: 100%;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    opacity: 0.8;
}

/* 메인 글 */
#content h1{
    font-size:50px; 
    text-align:right;
    color: rgb(255, 255, 255);

    /* 홈페이지 가운데 정렬 */
    position:absolute;
    top: 40%;
    left:50%;
    transform:translate(-50%, -50%)
}

/* 시계*/
#clock{
    color:rgb(255, 255, 255);
    font-size:60px; 
    text-align:right;

    /* 홈페이지 가운데 정렬 */
    position:absolute;
    top:55%;
    left:50%;
    transform:translate(-50%, -50%);
}




/* 창크기조절 */

 /* 스마트폰 */
/* 창크기 최대 680이하일떄 */
 @media screen and (max-width:680px) {
     #content h1{
         font-size: 24px;
     }
     #clock{
        font-size: 21px;
     }
     .bg {
        width: auto;
        height: auto;
    }
  }

/* 태블릿 */
/* 680이상 12804이하*/
  @media screen and (min-width:680px) and (max-width:1124px) {
    #content h1{
        font-size: 35px;
    }
    #clock{
       font-size: 35px;
    }
    .bg {
        width: auto;
        height: auto;
    }
   }


/* 창크기 280이하 일때 */
@media screen and (max-width:280px) {
    #clock{
        padding-top: 30px;
     }
} 
