<<<<<<< HEAD
@charset "utf-8";

/* 컨텐츠 */
#contents{
  /* 열정렬 */
  display: table;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  align-items: center;
}

/* 날씨박스 */
.weatherBox {
  font-size: 17px;
  /* 상자안으로 들어오게 보여줌 */
  /* display: flex; */
  /* 열정렬 */
  flex-direction: column;
  /* 가운데 정렬 */
  align-items: center;

  height: 400px;
  width: 400px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.233);
      /* 열정렬 */
      vertical-align: middle;
      display: table-cell;
}

.icon {
  padding-top: 20px;
}

.icon img {
  width: 150px;
}

.temperature {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
}

.subWeatherBox .weather {
  color: rgb(0, 0, 0);
  font-size: 25px;
  /* margin-top: -10px;
  font-weight: bold; */
}

.city {
  color: rgb(0, 0, 0);
  font-size: 35px;
  font-weight: bold;
  margin-top: 8px;
}

.imgBox {
  width: 400px;
  height: 100px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.233);
        /* 열정렬 */
        vertical-align: middle;
        display: table-cell;
padding-left: 50px;
padding-right: 50px;
}

#sun img{
  position: relative;
  width: 100%;
  height: 100%;
}

#rain img{
  position: relative;
  width: 100%;
  height: 100%;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



/* 창크기조절 */

 /* 스마트폰 */
/* 창크기 최대 680이하일떄 */
@media screen and (max-width:680px) {
  #content {
    margin: auto;
  }
  .imgBox {
    display: none;
  }
  .weater {
    display: relative;
  }
}

/* 태블릿 */
/* 690이상 1024이하*/
@media screen and (min-width:680px) and (max-width:1280px) {
  #content {
    margin: auto;
  }
}

/* 최대 1024이하일때 */
@media screen and (max-width:1280px) {
  #content {
    margin: auto;
  }
  #sun img{
    width: 500px;
    height: 490px;
  }
  #rain img{
    width: 485px;
    height: 400px;
  }
}




=======
@charset "utf-8";

/* 컨텐츠 */
#contents{
  /* 열정렬 */
  display: table;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  align-items: center;
}

/* 날씨박스 */
.weatherBox {
  font-size: 17px;
  /* 상자안으로 들어오게 보여줌 */
  /* display: flex; */
  /* 열정렬 */
  flex-direction: column;
  /* 가운데 정렬 */
  align-items: center;

  height: 400px;
  width: 400px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.233);
      /* 열정렬 */
      vertical-align: middle;
      display: table-cell;
}

.icon {
  padding-top: 20px;
}

.icon img {
  width: 150px;
}

.temperature {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
}

.subWeatherBox .weather {
  color: rgb(0, 0, 0);
  font-size: 25px;
  /* margin-top: -10px;
  font-weight: bold; */
}

.city {
  color: rgb(0, 0, 0);
  font-size: 35px;
  font-weight: bold;
  margin-top: 8px;
}

.imgBox {
  width: 400px;
  height: 100px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.233);
        /* 열정렬 */
        vertical-align: middle;
        display: table-cell;
padding-left: 50px;
padding-right: 50px;
}

#sun img{
  position: relative;
  width: 100%;
  height: 100%;
}

#rain img{
  position: relative;
  width: 100%;
  height: 100%;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



/* 창크기조절 */

 /* 스마트폰 */
/* 창크기 최대 680이하일떄 */
@media screen and (max-width:680px) {
  #content {
    margin: auto;
  }
  .imgBox {
    display: none;
  }
  .weater {
    display: relative;
  }
}

/* 태블릿 */
/* 690이상 1024이하*/
@media screen and (min-width:680px) and (max-width:1280px) {
  #content {
    margin: auto;
  }
}

/* 최대 1024이하일때 */
@media screen and (max-width:1280px) {
  #content {
    margin: auto;
  }
  #sun img{
    width: 500px;
    height: 490px;
  }
  #rain img{
    width: 485px;
    height: 400px;
  }
}




>>>>>>> 77d8b195f9398cb3cea2b2ae8b65f07163918efc
